<section class="image-bg overlay parallax" style="background-color:#48ad68;">
  <div class="background-image-holder background-image-mosaic">
    <img alt="Background" class="background-image" src="/img/background-sciences.png"/>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img src="/img/logo-beoi-white.png" style="max-height: 160px;">
        <h4 class="uppercase mb32 mt24">
          <%= t(:main_slogan_part1) %> <br/><%= t(:main_slogan_part2) %>
        </h4>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-1 boxed">
          <div class="text-center">
          <h1 class="mb0" style="font-family: 'Comfortaa';">bebras</h1>
          <h5 class="uppercase">Challenge solving is fun</h5>
          </div>
          <p><%= t(:bebras_desc) %></p>
          <div class="text-center">
            <%= link_to t(:more_info), 'bebras.html', :class => "btn mb0" %>
            <!-- <a class="btn mb0" href="/bebras-fr.html"><%= t(:more_info) %></a> -->
          </div>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-1 boxed">
          <div class="text-center">
          <h1 class="mb0" style="font-family: 'Comfortaa';">beOI</h1>
            <h5 class="uppercase">Coding101</h5>
          </div>
          <p><%= t(:beoi_desc) %></p>
          <div class="text-center">
            <%= link_to t(:more_info), '//beoi.be-oi.be', class:'btn mb0' %>
          </div>

        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <h1 class="mb0" style="font-family: 'Comfortaa';">beCP</h1>
            <h5 class="uppercase">Competitive Programming</h5>
          </div>
          <p><%= t(:becp_desc) %></p>
          <div class="text-center">
            <a class="btn mb0" ><%= t(:soon) %></a>
          </div>

        </div>
        <!--end of feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section>
  <div class="container">
    
    <div class="row mb80 mb-xs-0">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1><%= t(:Calendar) %> 2015-2016</h1>
        <p><%= t(:calendar_abstract) %></p>
        <hr class="mb16 mb-xs-16 fade-half">
        <ul>
          <li class="mb16 mb-xs-16">
            <div class="overflow-hidden mb16">
              <div class="col-sm-3">
                <h4 class="uppercase pt8">9-18 <%= t(:Nov) %></h4>
              </div>
              <div class="col-sm-6">
                <h6 class="uppercase mb0"><%= t(:calendar_bebras1_title) %></h6>
                <span><%= t(:calendar_bebras1_desc) %></span>
              </div>
            
              <div class="col-sm-3 text-right">
              	<%= link_to t(:more_info), 'bebras.html', :class => "btn btn-sm mt8" %>
              	<!--
                <% content_tag :a, :class => "btn btn-sm mt8", :href => "bebras.html" do %> 
                <%= t(:more_info) %>
                <% end %> 
                -->
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>
          <li class="mb16 mb-xs-16">
            <div class="overflow-hidden mb16">
              <div class="col-sm-3">
                <h4 class="uppercase pt8">27 <%= t(:Jan) %></h4>
              </div>
              <div class="col-sm-6">
                <h6 class="uppercase mb0"><%= t(:calendar_beoi1_title) %></h6>
                <span><%= t(:calendar_beoi1_desc) %></span>
              </div>
              <div class="col-sm-3 text-right">
              	<%= link_to t(:more_info), '//beoi.be-oi.be', :class => "btn btn-sm mt8" %>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>
          <li class="mb16 mb-xs-16">
            <div class="overflow-hidden mb16">
              <div class="col-sm-3">
                <h4 class="uppercase pt8">19 <%= t(:Mar) %></h4>
              </div>
              <div class="col-sm-6">
                <h6 class="uppercase mb0"><%= t(:calendar_beoi2_title) %></h6>
                <span><%= t(:calendar_beoi2_desc) %></span>
                <h6 class="uppercase mb0 mt16"><%= t(:calendar_bebras2_title) %></h6>
                <span><%= t(:calendar_bebras2_desc) %></span>
              </div>

            </div>
            <hr class="fade-half mb0">
          </li>
          <li class="mb16 mb-xs-16">
            <div class="overflow-hidden mb16">
              <div class="col-sm-3">
                <h4 class="uppercase pt8">30 <%= t(:Apr) %></h4>
              </div>
              <div class="col-sm-6">
                <h6 class="uppercase mb0"><%= t(:calendar_becp_title) %></h6>
                <span><%= t(:calendar_becp_desc) %></span>
              </div>

            </div>
            <hr class="fade-half mb0">
          </li>
          <li class="mb16 mb-xs-16">
            <div class="overflow-hidden mb16">
              <div class="col-sm-3">
                <h4 class="uppercase pt8">12-19 <%= t(:Aug) %></h4>
              </div>
              <div class="col-sm-6">
                <h6 class="uppercase mb0"><%= t(:calendar_ioi_title) %></h6>
                <span><%= t(:calendar_ioi_desc) %></span>
              </div>
            
              <div class="col-sm-3 text-right">
                <a class="btn btn-sm mt8" href="http://ioi2016.ru/"><%= t(:official_website) %></a>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>
        </ul>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<footer class="footer-1 bg-dark">
  <div class="container">
    
    <div class="row">
      <div class="col-sm-6">
        <span class="sub">beOI ASBL/VZW</span><br/>
        <span class="sub">Belgische Informatica-olympiade - Olympiade belge d’Informatique</span><br/>
        <span class="sub">&copy; 2011-2015 - All rights reserved.</span>
      </div>
    </div>
  </div>
  <!--end of container-->
  <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
</footer>
